### dependency
tqdm
dvc
pandas
numpy
PyYAML
scikit-learn
flask
shutils
black # for simple code formatting
sklearn-pandas
matplotlib
kneed
### local packages -
-e . # << uncomment this to install from setup.py
